@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.card-message {
  list-style-type: none;
  text-align: center;
  grid-row: 2 / 3;
  grid-column: 1 / 5;
} 

.card-item {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.629);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: auto auto 6vh;
  width: 200px;
  aspect-ratio: 1 / 1;
  border-image: url('../assets/pushpin-cropped.png');
  border-image-slice: 39 0 0 0;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
}

.button-area {
  display: flex;
  gap: 0.5rem;
  margin-top: auto;
  width: 25%;
}

.card-item > button {
  padding: 0px;
  justify-content: center;
  align-items: center;
}

#like {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

#like img {
  max-width: 100%;
  height: auto;
  padding-top: 8px;
}

#like:active {
  outline: none;
}

#like:focus {
  outline: none;
}

#delete {
  grid-row: 3 / 4;
  grid-column: 4 / 5;
  max-width: 100%;
  height: auto;
}

#delete img {
  max-width: 100%;
  height: auto;
}

#delete:active {
  outline: none;
}

#delete:focus {
  outline: none;
}

#likes-message {
  text-align: center;
  place-self: center;
  grid-row: 3 / 4;
  grid-column: 2 / 4;
}

.image-container {
  grid-row: 1 / 2;
  grid-column: 1 / 5;
}

.image-container img {
  border-radius: 10px;
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 100px;
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 5px;
}

.card-item li, p {
  font-family: "Caveat";
  font-size: 24px;
  font-weight: bold;
}

.card-item button {
  background-color: transparent;
}