form {
  /* border: 2px dotted black; */
  margin: auto;
  width: 300px;
  padding: 1rem;
  background-color: rgba(250, 235, 215, 0.568);
  gap: .5rem;
  border-radius: 20px;
}

.card-form input {
  width: 300px;
}