form {
  text-align: center;
}

input {
  border-radius: 5px;
  width: 70%;
  border: none;
  background: rgba(255, 255, 255, 0.669);
  font-family: inherit;
  color: black;
}

.add-button {
  font-size: .8rem;
}

.hide-button {
  font-size: 10px;
}