@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

header {
  /* text-align: center; */
  color: rgba(255, 255, 255, 0.87);
  font-family: "Fredoka";
}

h1 img {
  height: 40px;
  width: 40px;
}

.app-container {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.sidebar > h3 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.main-content {
  display: flex;
  flex: 1;
  align-items: flex-start;
}

footer {
  font-family: "Fredoka";
  text-align: center;
  color: white
}

.corkboard-container {
  background-image: url('./assets/corkboard.png');  
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  min-height: 600px;
  height: auto;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.card-area {
  flex: 1;
  margin-left: 50px;
  margin-right: 50px;
  /* padding: 1rem; */
}

.corkboard-container .card-list {
  position: relative;
  z-index: 2;
}

.title-container {
  background-image: url('assets/tape.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  font-family: "Shadows Into Light", cursive;
}

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.filter-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(129, 137, 163);
}

.dropdown-content {
  position: absolute;
  bottom: 100%;
  left: 0;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
  font-size: 1rem;
}

.dropdown-content button {
  padding: 8px 12px;
  text-decoration: none;
  font-size: .9rem;
  display: block;
  cursor: pointer;
}

.dropdown-content button:hover {
  color: black;
  background-color: rgb(215, 216, 250);}

.sidebar {
  margin-left: 20px;
  width: 240px;
  padding: 1rem;
  background-color: rgba(250, 235, 215, 0.568);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border-radius: 20px;
}


